<!DOCTYPE html>
<html>
    <head>
	<title>Subscriptemember</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
	<div class="container">
	    <div class="row">
		<h1>Subscriptemember</h1>
	    </div>
	</div>
	<div class="col-md-8">
	    <div class="row">
		<div class="col-md-4">Last Refresh: {{lastrefreshed}}</div>
		<div class="col-md-4">Number of Videos: {{numberofvideos}}</div>
		<div class="col-md-4">Totaltime: {{video_duration totaltime}}</div>
	    </div>
	    <div class="row">
		<table class="table table-striped" id="videos">
		    <tr>
			<th>Thumbnail</th>
			<th>Channel</th>
			<th>Title</th>
			<th>Published</th>
			<th>Duration</th>
			<th>Play</th>
			<th>Delete</th>
		    </tr>
		    {{#each vids}}
			<tr>
			    <td><img src="{{thumbnail}}" alt="thumbnail"></td>
			    <td>{{channelname}}</td>
			    <td>{{title}}</td>
			    <td>{{video_time published_at}}</td>
			    <td style="text-align:center;">{{video_duration duration}}</td>
			    <td><a href="{{url}}">Play</a></td>
			    <td><a href="/delete/{{vid}}/">Delete</a></td>
			</tr>
		    {{/each}}
		</table>
	    </div>
	</div>
	<div class="col-md-2">
	  <div class="row"><a href="/small">See Small List</a></div>
	  <div class="row"><a href="/subs">See Subscriptions</a></div>
	    <div class="row"><a href="/updateSubs">Update and see Subscriptions</a></div>
	    <div class="row"><a href="/updateVideos">Update Videos</a></div>
	    <!-- <form class="form-inline" action="/addurl" method="post"> -->
	    <!--     <div class="form-group"> -->
	    <!-- 	<div class="row"><input type="text" name="url" placeholder="youtube" class="form-control"></div> -->
	    <!-- 	<div class="row"><input type="submit" value="Submit" class="btn btn-default"></div> -->
	    <!--     </div> -->
	    <!-- </form> -->
	    <div class="row">
		<div class="input-group">
		    <input type="text" id="search" placeholder="search" class="form-control" oninput="onsearchChange(this.value)">
		</div>
	    </div>
	</div>
	<script>
	 'use strict';
	 //do search
	 function onsearchChange(text) {
	     console.log(text);
	     var table = document.getElementById('videos');
	     var tr = table.getElementsByTagName('tr');
	     if (text=="") {
		 for (var i = 0; i< tr.length; i++) {
		     tr[i].style.display = '';
		 }
		 return;
	     }
	     
	     var filter = text.toUpperCase();
	     
	     
	     for (var i = 0; i < tr.length; i++) {
		 var td = tr[i].getElementsByTagName('td')[1];
		 var td2 = tr[i].getElementsByTagName('td')[2];
		 if (td) {
		     if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
			 tr[i].style.display = '';
		     } else {
			 tr[i].style.display = 'none';
		     }
		 }
	     }
	 }
	 
	 var isActive = true;
	 /* $().ready(function() {
	    connectToSocket();
	  * });
	  * function connectToSocket() {
	    if (isActive)
	    {
	    window.setTimeout(function () {
	    $.ajax({
	    url: "/socket",
	    type: "GET",
	    success: function (result) {
	    location.reload();
	    connectToSocket();
	    },
	    error: function () {
	    }});
	    }, 2500);
	    }
	  * };*/
	</script>
    </body>
</html>
